html
    head
        title=">test"
    body
        <h3>Partidos politicos y escaños obtenidos (Coalicion)</h3>
        ul
            each val in country.getPartiesCount()
                 li= "Partido: " + val.party.name+" Escaños : "+val.seats
        <hr>
         <h3>Partidos politicos y escaños obtenidos (Partido)</h3>
        ul
            each val in country.getPartiesIndividualCount()
                 li= "Partido: " + val.party.name+" Escaños : "+val.seats
        <hr>
        <h3>Ciudades</h3>
        ul
            each val in country.voteCounts
                li= "Ciudad: " + val.city.name
                    ul  
                        each val2 in val.getPartyCount()
                            li= "Partido: " + val2.party.name+" - Escaños: "+val2.seats
                                ul
                                    each val1 in val.seatsWinner
                                        if val1.quotient.partyWinner.slug == val2.party.slug
                                            li= "Politico: " + val1.quotient.politician.name+" - Partido (Real): "+val1.quotient.politician.party.name+" - (Coalicion): "+val1.quotient.partyWinner.name

        <hr>
        a.svg(href='/')
            object(type="image/svg+xml" id="map" data="http://localhost:3000/public/map.svg")



        script.
                var data = !{JSON.stringify(country.getMapColors())}
                console.log(data)
                var a = document.getElementById("map");
                    a.addEventListener("load", function () {
                        svgDoc = a.contentDocument;
                        //var paths = svgDoc.querySelectorAll("path");
                        //svgDoc.getElementById("jaen").setAttribute('style', 'fill:green');
                        data.map(map=>{
                            //alert(map.citySlug)
                            //svgDoc.getElementById(map.citySlug).setAttribute('style', 'fill:'+map.color);
                            //console.log("Cambiando color de:"+map.citySlug)
                            svgDoc.getElementById(map.citySlug).setAttribute('style', 'fill:'+map.color);

                        })
                    }, false);


        
           


